
{% block body %}
	{% for folder in listFolders %}
		<tr>
			<th scope="row">
				<img src="{{ asset('img/folder_logo.png') }}" style="height: 25px; width: auto;"/>
				<!--<i class="fa fa-folder"></i>-->
			</th>
			{% if app.user == folder.owner %}
				<td><a href="{{ path('get_folder', {'folder_id': folder.id}) }}" style="word-break: break-all;">{{ folder.name }}</a></td>
				<td class="text-center">{{ folder.created|date('Y-m-d') }}</td>
				<td class="text-center">
					<a class="dropdown persoDropDown" href="#" id="folderDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-chevron-circle-down persoOptions"></i>
					</a>
					<div class="dropdown-menu" aria-labelledby="folderDropdown">
						<a class="dropdown-item" href="{{ path('get_folder', {'folder_id': folder.id}) }}">Open</a>
						<a class="dropdown-item" href="{{ path('rename_folder', {'folder_id': folder.id}) }}">Rename</a>
						<a class="dropdown-item" href="{{ path('share_folder', {'folder_id': folder.id}) }}">Share</a>
						<a class="dropdown-item" href="{{ path('zip_folder', {'folder_id': folder.id}) }}">Download as Zip</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path('delete_folder', {'folder_id': folder.id}) }}">Delete</a>
					</div>
				</td>
			{% else %}
				<td><a href="{{ path('shared_subfolder', {'hash': hash, 'folder_id': folder.id}) }}">{{ folder.name }}</a></td>
				<td class="text-center">{{ folder.created|date('Y-m-d') }}</td>
				<td class="text-center">
					<a class="dropdown persoDropDown" href="#" id="folderDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-chevron-circle-down persoOptions"></i>
					</a>
					<div class="dropdown-menu" aria-labelledby="folderDropdown">
						<a class="dropdown-item" href="{{ path('shared_subfolder', {'hash': hash, 'folder_id': folder.id}) }}">Open</a>
					</div>
				</td>
			{% endif %}
		</tr>
    {% endfor %}

	<!--
	<div class="row">
		<div class="col-lg-12 mx-auto">
			<div>
				Folders
                {% if (currentFolder is defined and currentFolder != null and app.user == currentFolder.owner) or (forIndex is defined and forIndex == true and currentFolder == null) %}
                    {% if currentFolder != null and currentFolder.id != null %}
						<a class="col-lg-2" href="{{ path('folder_add', {'folder_id': currentFolder.id}) }}"><i class="fa fa-plus-square"></i></a>
                    {% else %}
						<a class="col-lg-2" href="{{ path('folder_add') }}"><i class="fa fa-plus-square"></i></a>
                    {% endif %}
                {% endif %}
			</div>
			<ul style="list-style: none; margin-left: 0; padding-left: 1em; text-indent: -1em;">
				{% for folder in listFolders %}
					<li>
						{% if app.user == folder.owner %}
							<div class="col-lg-12 container">
								<span class="col-lg-4" ><a href="{{ path('get_folder', {'folder_id': folder.id}) }}"><i class="fa fa-folder fa-lg"></i></a></span>
								<a class="dropdown-toggle col-lg-6" href="#" id="folderDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ folder.name }}
								</a>
								<div class="dropdown-menu" aria-labelledby="folderDropdown">
									<a class="dropdown-item" href="{{ path('rename_folder', {'folder_id': folder.id}) }}">Rename</a>
									<a class="dropdown-item" href="{{ path('share_folder', {'folder_id': folder.id}) }}">Share</a>
									<a class="dropdown-item" href="{{ path('zip_folder', {'folder_id': folder.id}) }}">Download as Zip</a>
								</div>
								<a class="col-lg-5" href="{{ path('delete_folder', {'folder_id': folder.id}) }}"><i class="fa fa-times"></i></a>
							</div>
						{% else %}
							<a href="{{ path('shared_subfolder', {'hash': hash, 'folder_id': folder.id}) }}">{{ folder.name }}</a>
						{% endif %}
					</li>
				{% else %}
					No folders have been found.
				{% endfor %}
			</ul>
		</div>
	</div>
	-->
{% endblock %}
